<!DOCTYPE html>
<html ng-app="suitsApp">
    <head>
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/test.css">
         <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <!--<script type="text/javascript" src="js/lib/npm.js"></script>-->
        <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>       
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/app.js"></script>    
        <title>Hello Suits</title>
    </head>
    <body ng-controller="BuffetController as buffet">
        <p>{{ buffet.lawyers.length }}</p>
        <ul ng-repeat="lawyer in buffet.lawyers">
            <li>Id: {{lawyer.id}}, {{lawyer.name}}, Speciality {{lawyer.specialty}}, Title {{lawyer.title}}, Age {{lawyer.age}} <br/> <a href ng-click="buffet.deleteLawyer(lawyer.id)">Eliminar</a> </li>
        </ul>

        <section>
            <h2>Crear Abogado</h2>
            <form ng-submit="buffet.newLawyer()">
                Name: <input type="text" ng-model="buffet.lawyerData.name"><br>
                Speciality: <input type="text" ng-model="buffet.lawyerData.specialty"><br>
                Title: <input type="text" ng-model="buffet.lawyerData.title"><br>
                Age: <input type="text" ng-model="buffet.lawyerData.age"><br>
                <input type="submit" value="Create">
            </form>
        </section>

        <section>
            <h2>Actualizar abogado</h2>
            <form ng-submit="buffet.updateLawyer()">
                Lawyer Id: <input type="number" ng-model="buffet.lawyerData.id"><br>
                Name: <input type="text" ng-model="buffet.lawyerData.name" ><br>
                Speciality: <input type="text" ng-model="buffet.lawyerData.specialty"><br>
                Title: <input type="text" ng-model="buffet.lawyerData.title"><br>
                Age: <input type="text" ng-model="buffet.lawyerData.age"><br>
                <input type="submit" value="Update">
            </form>
        </section>        

    </body>
</html>
